/* Dashboard.css */

.dashboard {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.social-icons i {
  margin-left: 15px;
  cursor: pointer;
}

/* Navbar */
.navbar {
  background: #f4f7ff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #1e3c72;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  color: #444;
}

.cta-button {
  background-color: #1e3c72;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.logout-button {
  background-color: transparent;
  color: #1e3c72;
  border: 2px solid #1e3c72;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: #1e3c72;
  color: white;
}


/* Hero */
.hero {
  background: url('/public/bg.jpg') no-repeat center center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-btn {
  background-color: #2a5298;
  border: none;
  padding: 12px 24px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* Features */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
  background-color: #f4f7ff;
  text-align: center;
}

.feature {
  max-width: 250px;
}

.feature-icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #1e3c72;
}

.footer {
  background-color: #7c9db6;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #333;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

.footer a {
  color: #1e3c72;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  text-decoration: underline;
}

